html , body{
	line-height: 1;
	background-color:  #334873;
    color: orange;
}
	
hr{
    margin: 0;
    width: 400px;
}

h1{
text-align: center;

}

h3{
    
}

#forma{
    
}

label{
    
}